

<body class="bodyStyle">

  <header class="header">
    <div class="header__top">
      <a href="/" class="header__logo" aria-label="logo">
        <img src="/images/logo.png" alt="Logo">
      </a>

      <form action="/tim-kiem" class="header__search">
        <input type="text" class="input-search" placeholder="Tìm kiếm sản phẩm" name="key" maxlength="100">
        <div class="search-container">
          <button type="submit">
            <img src="/icons/searchicon.png" alt="search">
          </button>
        </div>
      </form>

      <div class="header__actions">
        <form action="/login" method="get">
        <a  class="header__icon">
          <button class="transparent-button"><img class="usericon" src="/icons/user.png" alt="Đăng nhập"></button>
        </a>
        </form>

        <form action="/cart" method="get">
        <a class="header__icon">
          <img src="/icons/cart.png" alt="Giỏ hàng">
          <button class="transparent-button">Giỏ hàng</button>
        </a>
        </form>
      </div>
    </div>
  </header>