<div class="laptop-banner-container">
    <h4 class="laptop-banner-title">Nâng Tầm Hiệu Suất Với Laptop Tối Ưu Nhất 2025</h4>
    <div class="laptop-banner-content">
        <img data-id=<%=pcs[0].id%> class="laptop-banner-img laptop-banner-img1" src="/fakedata/productimage/macbookair13.jpg" alt="">
        <img data-id=<%=pcs[1].id%> class="laptop-banner-img laptop-banner-img2" src="/fakedata/productimage/asusvivobook16.jpg" alt="">
        <img data-id=<%=pcs[4].id%> class="laptop-banner-img laptop-banner-img3" src="/fakedata/productimage/lenovo.webp" alt="">
        <img data-id=<%=pcs[2].id%> class="laptop-banner-img laptop-banner-img4" src="fakedata/productimage/dell.jpg" alt="">
    </div>

</div>

<script>
    document.querySelectorAll('.laptop-banner-img').forEach(img => {
        img.addEventListener('click', function() {
            const id = this.dataset.id;
            window.location.href = `/product/${id}`;
        });
    })
</script>