<div style="font-size: larger; font-weight: bold;">Thông tin cá nhân</div>
        <table>
            <tr>
                <td>Họ tên: </td>
                <td style="text-align: end;">*************</td>
            </tr>
             <tr>
                <td>Ngày sinh: </td>
                <td style="text-align: end;">***/****/****</td>
            </tr>
             <tr>
                <td>Email: </td>
                <td style="text-align: end;">*************</td>
            </tr>
             <tr>
                <td>Địa chỉ: </td>
                <td style="text-align: end;">*************</td>
            </tr>
             <tr>
                <td>Số điện thoại: </td>
                <td style="text-align: end;">*************</td>
            </tr>
        </table>