<div class="camera-banner">
    <h4 class="camera-banner-title">Camera giám sát chất lượng cao – an tâm mỗi ngày</h4>
    <div class="camera-banner-content">
        <img src="/fakedata/productimage/imou.png" alt="">
        <img src="/fakedata/productimage/imou2.avif" alt="">
    </div>
</div>