<div class="carousel-container carousel-outcontainer">

<div id="carouselExampleFade" class="carousel slide carousel-fade custom-carousel carousel-container">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-img" src="/images/quangcao3.webp" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 carousel-img" src="/images/quangcao2.webp" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 carousel-img" src="/images/quangcao1.webp" alt="Third slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>


<div class="carousel-container carousel-outcontainertwo">

<div id="carouselExampleControls" class="carousel slide custom-carouseltwo carousel-containertwo" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 carousel-imgtwo" src="/images/quangcao5.webp" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 carousel-imgtwo" src="/images/quangcao6.webp" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 carousel-imgtwo" src="/images/quangcao4.webp" alt="Second slide">
    </div> 
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

