<%- include("components/head.ejs") %>

<%- include("components/header.ejs") %>

<div class="product-title2">
                <p style="font-weight: bold;"><a style="text-decoration: none; color: rgb(160, 1, 1);" href="/"> Trang chủ </a> >Tài khoản</p>
        </div>

<div class="account-page-container">
    <div class="account-left">
        <div class="account-img">
            <img src="/icons/profile-user.png" alt="">
        </div>
        <div class="account-detail-button-container">
            <a href="/login"><button>Thông tin tài khoản</button></a>
        </div>
        <div class="account-logout-button-container">
            <a href="/logout"><img src="/icons/logout.png" alt="">Đăng xuất</a>
        </div>
    </div>
    <div class="account-right">
        <div style="font-size: larger; font-weight: bold;">Thông tin cá nhân</div>
        <table>
            <tr>
                <td>Họ tên: </td>
                <td style="text-align: end;">*************</td>
            </tr>
             <tr>
                <td>Ngày sinh: </td>
                <td style="text-align: end;">***/****/****</td>
            </tr>
             <tr>
                <td>Email: </td>
                <td style="text-align: end;">*************</td>
            </tr>
             <tr>
                <td>Địa chỉ: </td>
                <td style="text-align: end;">*************</td>
            </tr>
             <tr>
                <td>Số điện thoại: </td>
                <td style="text-align: end;">*************</td>
            </tr>
        </table>
    </div>
</div>



<%- include("components/footer.ejs") %>

<%- include("components/foot.ejs") %>