<%- include("components/head.ejs") %>

<%- include("components/header.ejs") %>

<div class="sucess-body">
    <div class="success_icon">
        <img src="/icons/success.png" alt="">
    </div>
    <div class="success_message">
        <h3>Thanh toán thành công</h3>
    </div>
    <div class="success_submessage">
        <p>Đơn hàng của quý khách đã thanh toán thành công. Laptopboot sẽ sớm liên hệ với quý khách để bàn giao sản phẩm</p>
    </div>
    <form action="/" method="get" class="success_buynext">
        <button>Tiếp tục mua hàng</button>
    </form>
</div>
       

<%- include("components/footer.ejs") %>

<%- include("components/foot.ejs") %>