/* Header styler */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.bodyStyle {
    background-color: rgb(243, 244, 246);
}

.header {
    background-color: rgb(194, 8, 8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo img {
    height: 50px;
    width: 200px;
    margin-left: 50px;
    border-radius: 40%;

}

.search-container {
    background-color: rgb(247, 225, 225);
}

.header__search {
    display: flex;
    flex: 1;
    max-width: 700px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.input-search {
    flex: 1;
    border: none;
    padding: 10px 15px;
    outline: none;
    background: transparent;
}

.header__search button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.header__search button img {
    height: 20px;
}

.header__actions {
    display: flex;
    gap: 20px;
}

.header__icon {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s ease;
}

.header__icon:hover {
    color: #333;
    font-weight: bolder;
}

.header__icon img {
    height: 24px;
}

/*Style dành cho slide1*/

.carousel-outcontainer {
    margin-top: 30px;
}

.carousel-container {
    display: flex;
    justify-content: center;
}

.custom-carousel {
    height: 400px;
    width: 100vw;
    overflow: hidden;
}

.carousel-img {
    object-fit: fill;
    height: 400px;
    width: 1500px;
}


/*Style dành cho slide2*/

.carousel-outcontainertwo {
    margin-top: 30px;
}

.carousel-containertwo {
    display: flex;
    justify-content: center;
}

.custom-carouseltwo {
    height: 212px;
    width: 1240px;
    overflow: hidden;
    border-radius: 5px;
}

.carousel-imgtwo {
    object-fit: fill;
    height: 212px;
    width: 600px;
    border-radius: 15px;
}

/*Style dành cho các ProductSlide */

.slider-outcontainer{
    width: 86%;
    margin-left: 7%;
    height: 350px;
    background: linear-gradient(to bottom, rgb(252, 55, 55), rgba(202, 99, 99, 0));
    margin-top: 50px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.slider-title{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
    height: 50px;
}

.slider-title2{
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger; 
    margin-top: 20px;
    height: 70px;
    align-items: center;
}

.slider-item{
    height: 45px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.slider-item-image{
    width: 70%;
    height: 150px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    object-fit: contain;
}

.slider-item img:hover{
    transform: translateY(-10px);
    transition: transform 0.5s ease; 
}

.slider-item-name{
    height: 80px;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 5px;
   font-weight: bold;
   font-size: small;
   text-wrap: wrap;
   word-break: break-all;;
}

.slider-item-price{
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    color: red;
    font-weight: bold;

}


/* Style của buttonHeader*/
.transparent-button {
  background-color: transparent;
  border: none;
  color: white; /* hoặc màu bạn muốn */
  cursor: pointer;
  
}

.transparent-button:hover{
    font-weight: bold;
}


/* Style của buttonHeader*/
.transparent-button {
  background-color: transparent;
  border: none;
  color: white; /* hoặc màu bạn muốn */
  cursor: pointer;
  
}

.transparent-button:hover{
    font-weight: bold;
}

/*Style của SignIn */

.gradient-custom-2 {

background: #aa161b ;
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}



/* Style dành cho Cart */

.product-cart-flex-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.product-cart-title{
    width: 100%;
    height: 20px;
}

.product-cart-grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
}

.product-cart-table-1{
    grid-column: span 1;
    text-align: center;
}

.product-cart-payment{
    margin-left: 100px;
    height: 350px;
}

.cart-payment-coupon {
    position: relative;
    width: 380px;
    height: 40px;
    border: 0.5px solid #c6c2c2; 
}
.cart-payment-coupon-input {
    width: 100%;
    padding-right: 40px;   /* Chừa chỗ cho nút ở bên phải */
    height: 35px;
    border: none;
    padding-left: 15px;
    outline: none;
}
.cart-payment-coupon-submit {
    position: absolute;
    right: 0;               /* Nút nằm ở bên phải */
    top: 0;
    height: 100%;
    width: 95px;
    border: none;
    background: #dc3545;
    color: white;
    cursor: pointer;
}

.product-cart-table-2{
    margin-top: 25px;
    width: 100%;
    margin-left: 12px;
    height: 200px;
}

.product-cart-table-2 td {
    padding: 15px;
    border-bottom: 1px solid #a9a5a5;
}

.product-cart-payment-button{
    width: 95%;
    margin-left: 20px;
    margin-top: 40px;
    color: white;
    background-color: #da5764;
    height: 45px;
    border: hidden;
    border-radius: 5px;
}

.product-cart-payment-button:hover{
    background-color: #aa161b;
}

/*Style cho product page */

.product-page-grid-container{
    width: 70%;
    margin-left: 15%;
    height: 600px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 50px;
    margin-bottom: 10px;
    gap: 20px;
    background-color: white;
    padding-top: 30px;
    border-radius: 10px;
}

.product-page-img{
    height: 300px;
    width: 70%;
    margin-left: 15%;
    object-fit: contain;
}

.product-page-policy{
    height: 200px;
    width: 70%;
    margin-left: 15%;
    object-fit: contain;
}

.product-page-name{
    height: 65px;
    margin-bottom: 20px;
    text-wrap: warp;
    word-break: break-all;
    padding-right: 15px;
    overflow: hidden;
}

.product-page-price{
    height: 25px;
    margin-bottom: 15px;
}

.product-page-description{
    width: 100%;
    overflow: hidden;
    text-wrap: wrap;
    word-break: break-all;
    padding-right: 15px;
}

.product-page-decision-button{
    width: 100%;
    height: 140px;
    margin-top: 45px;
}

.product-page-decision{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.product-page-button{
    width: 90%;
    height: 40px;
    background-color: #d05257;
    color: white;
    border: hidden;
    border-radius: 15px;

   
}

.product-page-button:hover{
    background-color: #aa161b;
}


.product-page-decision-cart-img{
    height: 60%;

}

.product-page-last-decision{
    height: 61px;
}


/* Style của footer */

.footer-img-container{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

.footer-img{
    width: 1200px;
    height: 170px;
    object-fit: fill;
}


/* Style của laptopbanner1 */


.laptop-banner-container{
    height: 780px;
    width: 86%;
    margin-left: 7%;
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.laptop-banner-title{
    width: 100%;
    height: 40px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.laptop-banner-content{
    height: 440px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    border-radius: 15px;
}

.laptop-banner-img1{
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
    object-fit: fill;
}

.laptop-banner-img2{
    grid-area: 1/2/2/3;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
   object-fit: fill;
}

.laptop-banner-img3{
    grid-area: 2/1/3/3;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.laptop-banner-img4{
    grid-area: 1/3/3/4;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}


/* Style cho camera banner */

.camera-banner{
    width: 86%;
    margin-left: 7%;
    height: 270px;
    padding: 7px;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
}

.camera-banner-title{
    height: 36px;
    width: 100%;
    padding-left: 40px;
}

.camera-banner-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.camera-banner-content img{
    width: 47%;
    height: 205px;
    border-radius: 20px;
    padding: 4px;
    object-fit: fill;
    cursor: pointer;
}



