<div class="product-grid-container">
    <div class="product-grid-title">
        <h4>Laptop</h4>
    </div>
    <div class="product-grid-items">
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
    </div>
</div>

<div class="product-grid-container">
    <div class="product-grid-title">
        <h4>Camera</h4>
    </div>
    <div class="product-grid-items">
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="product-grid-item">
            <img src="/fakedata/productimage/camera.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
    </div>
</div>