<div class="slider-outcontainer swiper">
    <div class="slider-title">
        <h3>Sản phẩm nổi bật</h3>
    </div>
    <div class="slider-container swiper-wrapper ">
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
        <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
        <div class="slider-item swiper-slide">
            <img src="/fakedata/productimage/product1.webp" alt="">
            <h5>Laptop Acer</h4>
            <h5 class="slider-item-price">10.000.000</h5>
        </div>
    </div>
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>