<%- include("../components/head.ejs") %>

    <%- include("../components/Header.ejs") %>

        <div class="product-page-grid-container">
            <img class="product-page-img" src="/fakedata/productimage/product1.webp" alt="">
            <div class="product-page-decision">
                <div class="product-page-name">
                    <p style="font-weight: bold; font-size: larger;">Laptop Acer Nitro 5</p>
                </div>
                <div class="product-page-price">
                    <p style="font-weight: bold; color: red; font-size: larger;">10.000.000 <sup>đ</sup></p>
                </div>
                <div>
                    <p>Acer Nitro 5 được đánh giá cao về hiệu năng trong tầm giá. Với cấu hình mạnh mẽ, máy có thể chơi
                        tốt các tựa game phổ biến ở thiết lập đồ họa cao. Ngoài ra, khả năng nâng cấp linh hoạt giúp
                        người dùng dễ dàng tùy chỉnh theo nhu cầu.</p>
                </div>
                <div class="product-page-decision-button">
                    <form class="product-page-decision" action="/"><button class="product-page-button"
                            type="submit"><img class="product-page-decision-cart-img" height="100%"
                                src="/icons/cart.png" alt=""> Thêm vào giỏ hàng</button></form>
                    <form class="product-page-decision" action="/"><button class="product-page-button" type="submit">Mua
                            ngay</button></form>
                </div>
            </div>
        </div>

        <%- include("../components/Footer.ejs") %>

            <%- include("../components/foot.ejs") %>